body {
    background-image: url(img/fond.jpg);
}

h1 {
    text-align: center;
    color: orange;
    font-size: 50px;
}

h3 {
    font-size: 40px;
    color: yellow;
    text-align: center;
}

strong {
    font-size: 20px;
    color: white;
}

p {
    color: white;
    text-align: center;
    font-size: 20px;
}

footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}

.bitcount-prop-single {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

/* Menu */
      nav {
        margin-top: 1rem;
        width: 100%;
      }
      
      nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
      }
      
      nav ul li {
        margin: 0 1rem;
        font-size: 30px;
      }
      
      nav ul li a {
        text-decoration: none;
        color: yellow;
        font-weight: bold;
        transition: color 0.3s;
      }
      
      nav ul li a:hover {
        color: gold;
      }